<div class="">
    <form name="form" class="secret-santa-form">
        <ss-create-secret-santa secret-santa-list="secretSantaList"></ss-create-secret-santa>
    </form>
    <div class="secret-santa-list-container container text-center" ss-element-height-resize offset="200">
        <div ng-repeat="secretSanta in secretSantaList.list">
            <div class="secret-santa-row row text-left">
                <div class="col-md-4"></div>
                <div id="secretSantaName" class="secret-santa-name col-md-2">{{secretSanta.name}}</div>
                <div class="secret-santa-email col-md-2">{{secretSanta.email}}</div>
                <button class="col-md-1 btn btn-default" ng-click="remove(secretSanta)">Remove</button>
            </div>
        </div>
    </div>
</div>
