<div class="">
    <div class="container secret-santa-list-button-container">
        <div class="row">
            <button class="btn btn-default col-md-offset-4 col-md-2 text-center" ng-click="save()" ng-enabled="actionButtonsEnabled">Save</button>
            <button class="btn btn-default col-md-2 text-center" ng-click="generate()" ng-enabled="actionButtonsEnabled" ng-confirm-click="{{generateConfirmMessage}}">Generate</button>
        </div>
    </div>
    <form name="form" class="secret-santa-form">
        <ss-create-secret-santa secret-santa-list="secretSantaList"></ss-create-secret-santa>
    </form>
    <hr class="horizontal-line">
    <div class="secret-santa-list-container" ss-element-height-resize offset="200">
        <div ng-repeat="secretSanta in secretSantaList.list">
            <!-- <div class="secret-santa-row form-inline row text-left col-md-offset-4"> -->
            <div class="secret-santa-row form-inline col-md-offset-4">
                <div class="form-group">
                    <input class="col-md-2 form-control" type="text" ng-model="secretSanta.name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="col-md-2 form-control" type="email" ng-model="secretSanta.email" placeholder="Email">
                </div>
                <button class="btn btn-default" ng-click="remove(secretSanta)">Remove</button>
            </div>
        </div>
    </div>
</div>
