    <div class="secret-santa-list-button-container">
        <div class="row form-inline form-group col-md-offset-4">
            <label class="sr-only" for="secretSantaListName">Secret Santa List Name</label>
            <input id="secretSantaListName" class="form-control col-md-8" type="text" ng-model="secretSantaList.name" placeholder="List Name" required>
        </div>
        <div class="row form-inline form-group col-md-offset-4 ">
            <button class="btn btn-default col-md-2 " ng-click="save()" ng-disabled="actionButtonsDisabled">Save</button>
<!--             <button class="btn btn-default col-md-2 text-center" ng-click="generate()" ng-disabled="actionButtonsDisabled" ng-confirm-click="{{generateConfirmMessage}}">Generate</button>
 -->        </div>
    </div>
