.secret-santa-app {
    overflow: hidden;
}

.page-header {
    border-bottom-color: black;
    border-bottom-width: 5px;
    margin-top: 50px;
}

.secret-santa-form {
    padding-bottom: 10px;
}

.save-button-container {
    padding-bottom: 10px;
}

.secret-santa-list-container {
	height: 450px;
    overflow-y: auto;
}

.menu-row,
.secret-santa-row {
    padding-bottom: 5px;
}

.secret-santa-name {
    border-color: lightgrey;
    border-width: 1px;
}
