.page-header {
    border-bottom-color: black;
    border-bottom-width: 5px;
}

.secret-santa-form {
	padding-top: 10px;
}

.secret-santa-row {
	padding-top: 5px;
}
/*.menu-options {
    margin-top: 10%;
}
*/