.secret-santa-app {
    overflow: hidden;
}

.page-header {
    border-bottom-color: black;
    border-bottom-width: 5px;
    margin-top: 50px;
}

.btn {
    background-color: lightGray;
    border-color: black;
}

.horizontal-line {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.secret-santa-form {
    padding-bottom: 10px;
}

.save-button-container {
    padding-bottom: 10px;
}

.secret-santa-list-container {
    height: 450px;
    overflow-y: auto;
}

.menu-row,
.secret-santa-row {
    padding-bottom: 5px;
}

.secret-santa-name {
    border-color: lightgrey;
    border-width: 1px;
}
